body 
{
	font: 13px/1 arial,trebuchet MS,tahoma,helvetica,clean,sans-serif;
	background:#000;
	color:#fff;
}

* {
	margin:0;
	padding:0;
}

html, body, form, img, fieldset, legend, table, tbody, thead, tfoot, tr, th, td 
{
	border:none;
}

li 
{
	list-style:none;
}

input[type='text']
{
	width: 200px;
}